* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;

}

.pap {
    background-color: white;
    height: 100vh;
    width: 100%;
    background-position: center;
    overflow: hidden;
    background-size: contain;


}

.pap .right {
    background-color: rgb(13, 102, 13);
    width: 500px;
    height: 500px;
    position: absolute;
    right: -100px;
    bottom: -50px;
    border-top-left-radius: 4000px;
    overflow: hidden;

}

.pap .left {
    background-color: rgb(13, 102, 13);
    width: 500px;
    height: 500px;
    position: absolute;
    left: -100px;
    top: -100px;
    border-bottom-right-radius: 1000px;
    overflow: hidden;

}

.pap section {
    width: 1300px;
    height: 550px;
    background-color: white;
    position: absolute;
    z-index: 10;
    left: 200px;
    top: 100px;
    border-radius: 10px;
    padding-bottom: 50px;
    border: 3.5px solid whitesmoke;

}

.pap section .first {
    background-color: rgba(13, 102, 13, 1);
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 400px;
    z-index: -3;

}

section nav {
    background-color: white;
    width: 100%;
    height: 80px;
    color: black;
    display: flex;
    justify-content: space-between;
    z-index: 50;


}

section nav .loge img {
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 5px;
}

section nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-right: 80px;

}

section nav ul li a {
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 500ms;

}

section nav ul li a:hover {
    background-color: rgb(13, 102, 13);
    color: white;
}

section aside h1 {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    width: 400px;
    left: 100px;
    top: 70px;
}

section aside h1 span {
    color: rgb(13, 102, 13);
    font-size: 70px;
}

section aside p {
    position: absolute;
    left: 100px;
    top: 320px;
    width: 400px;
    font-size: 14px;
    font-weight: 900;
}

section aside button {
    background-color: rgb(13, 102, 13);
    position: absolute;
    left: 120px;
    top: 470px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;
    color: white;
    transition: all 500ms;
}

section aside button:hover {
    background-color: whitesmoke;
    color: black;
}

section .imge {
    position: absolute;
    bottom: -70px;
    right: -50px;
    transform: rotate(-30deg);
    z-index: -1;

}

section footer img {
    position: absolute;
    bottom: -5px;
    left: 450px;
    animation-name: span;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;

}

section footer img:hover {
    animation-play-state: paused;
}

@keyframes span {
    0% {
        bottom: -5px;
    }

    50% {
        bottom: 60px;
    }

    100% {
        bottom: -5px;
    }

}